.header {
  height: 60px;
  display: flex;
  align-items: center;
  background-color: #1b2430;
  position: sticky;
  top: 0;
  z-index: 10;
}

.header-search-input {
  width: 100%;
  padding: 4.5px;
  border: none;
  cursor: pointer;
}

.header-search-input[type="text"]:focus {
  outline: none;
}

.header-search-icon {
  color: black;
  background-color: #cd9042;
}

.header-search {
  display: flex;
  flex: 1;
  align-items: center;
  border-radius: 24px;
}

.header-navbar {
  display: flex;
  justify-content: space-evenly;
}

.header-nav-option {
  color: white;
  display: flex;
  flex-direction: column;
  margin: 0 20px;
  text-align: center;
}

.header-logo {
  width: 100px;
  object-fit: contain;
  margin: 0 20px;
  margin-top: 20px;
}

.header-nav-opt-line1 {
  font-size: 10px;
}

.header-nav-opt-line2 {
  font-size: 13px;
  font-weight: 800;
}

.header-basket-option {
  color: white;
  display: flex;
  align-items: center;
}

.header-basket-counter {
  margin: 0 10px;
}

.cart-icon {
  margin-top: 5px;
}

 .header-basket-counter {
 margin-right: 15px;
}

